
$title: #e1dece;
$gray: #DCD7C0;
$black: #191919;
$black-04: #404040;
$black-03: #565656;



// $xl: 1200;
// $lg: 990;
// $md: 720;
// $sm: 540;
// $s: 400;

$Roboto: 'Roboto', sans-serif;
$Garamond: 'Garamond', sans-serif;

$fw900: 900;
$fw700: 700;
$fw500: 500;
$fw400: 400;




