<section class="work" id="repair">
    <div class="container">
        <h2 class="title work__title wow animate__backInLeft" data-wow-duration="2s" data-wow-offset="50">Ремонт квартир любой сложности</h2>
        <span class="visually-hidden">
            Ниже идёт слайдер из пяти слайдов, на каторых есть описание нашей работы
        </span>
        <ul class="work-slider">
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
        </ul>

        <h2 class="title work__title wow animate__backInLeft" data-wow-duration="2s" data-wow-offset="50">Линейка тарифов</h2>
        <ul class="work-price">
            <li class="work-price__column">
                <h3 class="work-price__title">
                    <span class="work-price__subtitle">Пакет</span>
                    "Light"
                </h3>
                <div class="work-price__content">
                    <p class="work-price__description work-price__description--light">
                        Для квартир с предчистовой и улучшенной черновой отделкой
                    </p>
                    <div class="work-price__length">
                        <span class="work-price__num">18 000</span>
                        <span class="work-price__text">тг/кв.м.</span>
                    </div>
                    <span class="work-price__heading work-price__heading--light">Ремонт "под ключ" 
                        подразумевает:</span>
                    <ul class="work-price__list">
                        <li class="work-price__item">
                            - Вырванивание поверхностей потолков и стен;
                        </li>
                        <li class="work-price__item">
                            - Заливка пола "Экопол";
                        </li>
                        <li class="work-price__item">
                            - Покраска стен и потолка;
                        </li>
                        <li class="work-price__item">
                            - Укладка кафеля/керамогранита;
                        </li>
                        <li class="work-price__item">
                            - Монтаж лепнины потолочной;
                        </li>
                        <li class="work-price__item">
                            - Укладка ламината;
                        </li>
                        <li class="work-price__item">
                            - Поклейка обоев;
                        </li>
                        <li class="work-price__item">
                            - Установка и монтаж сантехнического оборудования;
                        </li>
                        <li class="work-price__item">
                            - Установка дверей;
                        </li>
                        <li class="work-price__item">
                            - Установка и монтаж розеток и выключателей;
                        </li>
                        <li class="work-price__item">
                            - Установка и монтаж приборов освещения;
                        </li>
                        <li class="work-price__item">
                            - Уборка помещения
                        </li>
                        <li class="work-price__item">
                            - Закуп/прием материалов;
                        </li>
                        <li class="work-price__item">
                            - Расчет расходуемых материалов;
                        </li>
                        <li class="work-price__item">
                            - Вывоз мусора;
                        </li>
                    </ul>   
                    <a class="work-price__link" href="#">Заказать тариф</a>
                </div>
            </li>

            <li class="work-price__column">
                <h3 class="work-price__title">
                    <span class="work-price__subtitle">Пакет</span>
                    "Standart"
                </h3>
                <div class="work-price__content">
                    <p class="work-price__description">
                        Для квартир с предчистовой и улучшенной черновой отделкой по проекту Дизайна
                    </p>
                    <div class="work-price__length">
                        <span class="work-price__num">22 000</span>
                        <span class="work-price__text">тг/кв.м.</span>
                    </div>
                    <span class="work-price__heading">
                        Ремонт "под ключ" все, что входит в пакет услуг "LIGHT", дополнительно:
                    </span>
                    <ul class="work-price__list">
                        <li class="work-price__item">
                            - Монтаж/демонтаж электрической проводки;
                        </li>
                        <li class="work-price__item">
                            - Монтаж/демонтаж дверных проемов;
                        </li>
                        <li class="work-price__item">
                            - Монтаж гипсокартоновых конструкций;
                        </li>
                        <li class="work-price__item">
                            - Монтаж молдингов и других элементов настенного лепного декора;
                        </li>
                        <li class="work-price__item">
                            - Монтаж и установка конструктивных элементов интерьера (МДФ-панели, гипсовые панели и другое);
                        </li>
                        <li class="work-price__item">
                            - Монтаж и установка всех видов освещения (трековые светильники, софиты, светодиодная подсветка и другое);
                        </li>
                        <li class="work-price__item">
                            - Поклейка фотообоев;
                        </li>
                        <li class="work-price__item">
                            -Установка и монтаж мелких деталей (ключки, зеркала, ограничители  открывания дверей и т.д.)
                        </li>
                    </ul>   
                    <a class="work-price__link" href="#">Заказать тариф</a>
                </div>
            </li>

            <li class="work-price__column">
                <h3 class="work-price__title">
                    <span class="work-price__subtitle">Пакет</span>
                    "Besinnes"
                </h3>
                <div class="work-price__content">
                    <p class="work-price__description">
                        Для квартир/домов и коммерческих помещений с черновой отделкой по проекту Дизайна интерьера
                    </p>
                    <div class="work-price__length">
                        <span class="work-price__num">30 000</span>
                        <span class="work-price__text">тг/кв.м.</span>
                    </div>
                    <span class="work-price__heading">
                        Ремонт "под ключ" все, что входит в пакет услуг "STANDART", дополнительно:
                    </span>
                    <ul class="work-price__list">
                        <li class="work-price__item">
                            - Монтаж/демонтаж перегородок;
                        </li>
                        <li class="work-price__item">
                            - Заливка пола бетонной стяжкой;
                        </li>
                        <li class="work-price__item">
                            - Выравнивание поверхностей стен песчанной штукатуркой "под маяк";
                        </li>
                        <li class="work-price__item">
                            - Монтаж всех видов настенного декора;
                        </li>
                        <li class="work-price__item">
                            - Монтаж и установка металлических конструкций (лестницы, сцены, дополнительный этаж и другое);
                        </li>
                        <li class="work-price__item">
                            - Клининг.
                        </li>
                        <li class="work-price__item">
                            - Монтаж и установка элементов интерьера из натурального/искусственного камня, МДФ, гипса, пластика и дерева;
                        </li>
                    </ul>   
                    <a class="work-price__link" href="#">Заказать тариф</a>
                </div>
            </li>

            <li class="work-price__column">
                <h3 class="work-price__title">
                    <span class="work-price__subtitle">Пакет</span>
                    "Vip"
                </h3>
                <div class="work-price__content">
                    <p class="work-price__description">
                        Для  всех видов помещений с черновой отделкой совместно с нашими услугами по ведению ремонта и дизайну интерьера
                    </p>
                    <div class="work-price__length">
                        <span class="work-price__num">45 000</span>
                        <span class="work-price__text">тг/кв.м.</span>
                    </div>
                    <span class="work-price__heading">
                        Ремонт "под ключ" все, что входит в пакет услуг   "BUSINESS" дополнительно:
                    </span>
                    <ul class="work-price__list">
                        <li class="work-price__item">
                            - Разработка Эскизного Проекта дизайна интерьера с 3д-визуализацией;
                        </li>
                        <li class="work-price__item">
                            - Разработка Рабочего Проекта, подразумевающего все чертежи и схемы;
                        </li>
                        <li class="work-price__item">
                            - Авторский надзор дизайнера на объекте и при производстве мебели и других элементов интерьера;
                        </li>
                        <li class="work-price__item">
                            - Подбор всех материалов, мебели, элементов декора;
                        </li>
                        <li class="work-price__item">
                            - Надзор за исполнением сторонних исполнителей (производство мебели и другое);
                        </li>
                        <li class="work-price__item">
                            - Технический инженерный надзор.
                        </li>
                    </ul>   
                    <a class="work-price__link" href="#">Заказать тариф</a>
                </div>
            </li>
        </ul>

        <div class="work-time" data-ref="container-2">
            <h3 class="title work-time__title">Сроки ремонта</h3>
            <ul class="work-time__list">
                <li class="work-time__item">
                    <button class="work-time__btn" data-filter=".category-a">
                        Ремонт без дизайна со стандартным ремонтом
                    </button>
                </li>
                <li class="work-time__item">
                    <button class="work-time__btn" data-filter=".category-b">
                        Ремонт с дизайна с нестандартным ремонтом
                    </button>
                </li>
            </ul>
            <div class="work-time__inner">

                <div class="work-time__columns mix category-a">
                    <div class="work-time__column">
                        <span class="work-time__name">Плошадь, м2</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">50-80</li>
                            <li class="work-time__items">80-120</li>
                            <li class="work-time__items">120-200</li>
                            <li class="work-time__items">200+</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Черновая отделка</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">2 мес</li>
                            <li class="work-time__items">2.5 мес</li>
                            <li class="work-time__items">3 мес</li>
                            <li class="work-time__items">3.5-5 мес</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Предчистовая
                            (удучшенная черновая)</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">1.5 мес</li>
                            <li class="work-time__items">2 мес</li>
                            <li class="work-time__items">2.5 мес</li>
                            <li class="work-time__items">3-4 мес</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Вторичное жилье 
                            с демонтжными работами</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">3 мес</li>
                            <li class="work-time__items">3.5 мес</li>
                            <li class="work-time__items">4 мес</li>
                            <li class="work-time__items">5-6 мес</li>
                        </ul>
                    </div>
                </div>

                <div class="work-time__columns mix category-b">
                    <div class="work-time__column">
                        <span class="work-time__name">Плошадь, м2</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">50-80</li>
                            <li class="work-time__items">80-120</li>
                            <li class="work-time__items">120-200</li>
                            <li class="work-time__items">200+</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Черновая отделка</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">2 мес</li>
                            <li class="work-time__items">2.5 мес</li>
                            <li class="work-time__items">3 мес</li>
                            <li class="work-time__items">3.5-5 мес</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Предчистовая
                            (удучшенная черновая)</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">1.5 мес</li>
                            <li class="work-time__items">2 мес</li>
                            <li class="work-time__items">2.5 мес</li>
                            <li class="work-time__items">3-4 мес</li>
                        </ul>
                    </div>
                    <div class="work-time__column">
                        <span class="work-time__name">Вторичное жилье 
                            с демонтжными работами</span>
                        <ul class="work-time__block">
                            <li class="work-time__items">3 мес</li>
                            <li class="work-time__items">3.5 мес</li>
                            <li class="work-time__items">4 мес</li>
                            <li class="work-time__items">5-6 мес</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
