.contacts {
    margin-bottom: 50px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max($lg) {
            flex-direction: column;
        }
    }
    &__address {
        max-width: 50%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include max($xl) {
            margin-right: 15px;
        }
        @include max($lg) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    &__items {
        max-width: 39%;
        width: 100%;
        &:first-child {
            margin-bottom: 40px;
            @include max($lg) {
                margin-bottom: 20px;
            }
        }
        @include max($xl) {
            max-width: 50%;
        }
        @include max($lg) {
            margin-bottom: 20px;
        }
        @include max($s) {
            max-width: 100%;
        }
    }
    &__heading {
        font-size: 15px;
        margin-bottom: 15px;
        color: #fff;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($s) {
            margin-bottom: 8px;
        }
    }
    &__link {
        color: $title;
        font-size: 15px;
        line-height: 1.6;
        outline: transparent;
        transition: color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 2;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #8d3a3a;
        }
        &:active {
            color: $title;
        }
    }
    &__location {
        @include max($sm) {
            -webkit-line-clamp: 4;
        }
    }
    &__tel {
        display: block;
    }
    &__social {
        display: flex;
        & .social__item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
    #map {
        max-width: 570px;
        width: 100%;
        height: 300px;
        border-radius: 5px;
        @include max($lg) {
            max-width: 100%;
            height: 280px;
        }
        @include max($sm) {
            height: 240px;
        }
    }
    @include max($lg) {
        margin-bottom: 0;
        padding-top: 60px;
    }
}