.feedback {
    margin-bottom: 100px;
    &__inner {
        display: flex;
        @include max($md) {
            flex-direction: column;
        }
    }
    &__images {
        min-height: 505px;
        max-width: 50%;
        width: 100%;
        @include bg;
        @include max($lg) {
            min-height: 330px;
            max-width: 40%;
        }
        @include max($md) {
            flex-direction: column;
            max-width: 100%;
            min-height: 245px;
        }
    }
    &__info {
        max-width: 50%;
        width: 100%;
        background-color: $title;
        padding: 50px 30px;
        @include max($lg) {
            padding: 10px 15px;
            max-width: 60%;
        }
        @include max($md) {
            max-width: 100%;
        }
    }
    &__text {
        font-family: $Garamond;
        font-weight: $fw700;
        font-size: 27px;
        line-height: 1.2;
        color: $black;
        margin-bottom: 40px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 4;
            @include max($lg) {
                -webkit-line-clamp: 6;
            }
            @include max($s) {
                -webkit-line-clamp: 7;
            }
        }
        @include max($lg) {
            margin-bottom: 10px;
        }
    }
    &__form {
        max-width: 300px;
        width: 100%;

    }
    &__input {
        border: none;
        outline: transparent;
        height: 65px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding-left: 50px;
        border-radius: 5px;
        background-color: #fff;
        transition: background-color 0.3s ease-in;
        &::placeholder {
            color: $gray300;
            transition: color 0.3s ease-in;
        }
        &:focus {
            background-color: $gray;
            &::placeholder {
                color: #fff;
            }
        }
    }
    &__btn {
        cursor: pointer;
        width: 100%;
        height: 65px;
        background-color: $black;
        border: none;
        color: #fff;
        border-radius: 5px;
        outline: transparent;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
        &:hover {
            background-color: rgba($black, 0.4);
        }
        &:focus {
            background-color: #fff;
            color: $black;
        }
        &:active {
            background-color: rgba($black, 0.8);
            color: #fff;
        }
    }
    @include max($lg) {
        margin-bottom: 55px;
    }
}