.header {
    padding: 13px 0;
    transition: padding 0.3s ease-in;
    width: 100%;
    z-index: 55;
    background-color: $black;
    position: fixed;
    &--bg {
        padding: 7px 0;
        border-bottom: 1px solid $black-03;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        display: flex;
        font-size: 20px;
        line-height: 1.1;
        align-items: center;
        outline: transparent;
        color: inherit;
        background: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%),
        linear-gradient(0deg, #DCD7C0, #DCD7C0);
        ;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 0.3s ease-in;
        &:focus {
            background: rgb(138, 137, 137);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            .header__phone{
                fill: rgb(138, 137, 137);
            }
        }
        &:hover {
            background: #fff;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &:active {
            background: $gray;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &:hover .header__phone{
            fill: #fff;
        }
        &:active .header__phone{
            fill: $gray;
        }
    }
    &__phone {
        width: 14px;
        height: 14px;
        fill: $gray;
        margin-right: 12px;
        transition: fill 0.3s ease-in;
    }
}

.logo {
    display: flex;
    align-items: center;
    outline: transparent;
    &__images {
        margin-right: 10px;
    }
}

.menu {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        display: inline-block;
        padding: 10px 5px;
        line-height: 1.1;
        color: $title;
        outline: transparent;
        transition: color 0.3s ease-in;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: transparent;
            transition: width 0.4s ease-in;
        }
        &:hover {
            color: #fff;
        }
        &:hover::after {
            width: 100%;
            background-color: #fff;
        }
        &:focus {
            color: #fff;
        }
        &:active {
            color: $gray;
            border-color: $gray;
        }
        &:active::after {
            background-color: $gray;
        }
    }
}