.work {
    padding-top: 70px;
    &__title {
        margin-bottom: 55px;
        @include max($lg) {
            margin-bottom: 26px;
        }
    }
    @include max($lg) {
        padding-top: 53px;
    }
}

.work-slider {
    max-width: 100%;
    margin-bottom: 55px;
    &__item {
        @include bg;
        height: 606px;
        @include max($lg) {
            height: 305px;
        }
        @include max($sm) {
            height: 290px;
        }
    }
    &__description {
        background-color: rgba(#000, 0.5);
        font-size: 30px;
        font-family: $Garamond;
        color: $title;
        text-align: center;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($lg) {
            font-size: 25px;
            padding: 0 10px;
            line-height: 1.3;
            -webkit-line-clamp: 3;
        }
        @include max($sm) {
            font-size: 18px;
            padding: 0 10px;
            line-height: 1.1;
            -webkit-line-clamp: 5;
        }
    }
    &__year {
        font-weight: $fw700;
    }
    & .slick-dots {
        display: flex;
        justify-content: center;
        bottom: -35px;
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
            &.slick-active button{
                background-color: #fff;
            }
        }
        li button {
            padding: 0;
            border: none;
            font-size: 0;
            width: 50px;
            height: 5px;
            background-color: $black-03;
            cursor: pointer;
            outline: transparent;
            transition: background-color 0.3s ease-in;
            &:hover {
                background-color: $title;
            }
            &:focus {
                background-color: $black-04;
            }
            &:active {
                background-color: #fff;
            }
            @include max($s) {
                width: 40px;
            }
        }
    }
    @include max($lg) {
        margin-bottom: 20px;
    }
}

.work-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    &__column {
        max-width: 270px;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
        color: $black;
        padding: 13px 0;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease-in;
        &:hover {
            transform: scale(1.1);
            @include max($md) {
                transform: scale(1);
            }
        }
        @include max($xl) {
            max-width: 35%;
            margin: 15px 15px 25px;
        }
        @include max($lg) {
            max-width: 43%;
        }
        @include max($md) {
            max-width: 70%;
            margin: 0 0 25px;
        }
        @include max($sm) {
            max-width: 100%;
            margin: 0 0 25px;
        }
    }
    &__title {
        padding: 5px 0;
        background-color: $title;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        font-weight: $fw700;
        margin-bottom: 13px;
    }
    &__subtitle {
        display: block;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: $fw400;
    }
    &__content {
        padding: 0 14px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__description {
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 15px;
        @include lineClamp;
        -webkit-line-clamp: 3;
        &--light {
            width: 163px;
            margin: 0 auto 15px;
        }
        @include max($lg) {
            margin-bottom: 0;
        }
    }
    &__length {
        font-size: 20px;
        text-align: center;
        margin-bottom: 17px;
        @include max($lg) {
            margin-bottom: 0;
        }
    }
    &__num {
        font-weight: $fw700;
        text-transform: uppercase;
    }
    &__text {
        font-size: 16px;
    }
    &__heading {
        font-weight: $fw700;
        font-size: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        @include lineClamp;
        -webkit-line-clamp: 2;
        &--light {
            width: 140px;
            margin: 0 auto 10px;
        }
    }
    &__list {
        color: #000;
        font-size: 10px;
        line-height: 2;
        margin-bottom: 65px;
        @include max($lg) {
            margin-bottom: 15px;
        }
    }
    &__item {
        @include lineClamp;
        -webkit-line-clamp: 3;
    }
    &__link {
        display: inline-block;
        font-family: $Garamond;
        padding: 15px 65px;
        font-size: 14px;
        color: #fff;
        background-color: $black;
        border-radius: 5px;
        outline: transparent;
        text-align: center;
        margin-top: auto;
        @include lineClamp;
        -webkit-line-clamp: 1;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        &:hover {
            background-color: $gray;
            color: $black;
        }
        &:focus {
            background-color: rgba($black, 0.5);
            color: #fff;
        }
        &:active {
            background-color: rgba($black, 0.8);
            color: #fff;
        }
        @include max($lg) {
            padding: 15px;
        }
    }
    @include max($xl) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include max($md) {
        margin-bottom: 15px;
    }
}

.work-time {
    margin-bottom: 50px;
    &__title {
        padding-bottom: 0;
        border-bottom: none;
        font-size: 35px;
        @include max($md) {
            margin-bottom: 12px;
        }
    }
    &__list {
        display: flex;
        margin-bottom: 12px;
        @include max($lg) {
            flex-direction: column;
        }
    }
    &__item {
        max-width: 50%;
        width: 100%;
        @include max($lg) {
            max-width: 100%;
            margin-bottom: 5px;
        }
    }
    &__btn {
        width: 100%;
        color: $gray;
        padding: 20px 0;
        background-color: transparent;
        border: 1px solid $title;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        outline: transparent;
        transition: background-color 0.3s ease-in;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:hover {
            background-color: rgba($black, 0.5);
        }
        &:focus {
            border-color: $gray;
        }
        &:active {
            background-color: rgba($black, 0.9);
        }
        &.mixitup-control-active {
            color: $black;
            background-color: $gray200;
            border-radius: 5px 0px 0px 5px;
            @include max($lg) {
                border-radius: 5px;
            }
        }
        @include max($lg) {
            border-radius: 0;
        }
        @include max($s) {
            padding: 5px;
        }
    }
    &__columns {
        display: flex;
        border-radius: 5px;
        @include max($lg) {
            flex-wrap: wrap;
        }
    }
    &__column {
        color: $black;
        display: flex;
        flex-direction: column;
        font-family: $Garamond;
        font-weight: $fw700;
        max-width: 25%;
        width: 100%;
        text-align: center;
        padding: 50px 0 20px;
        &:nth-child(even) {
            background-color: rgba(230, 230, 230, 0.6);
        }
        &:nth-child(odd) {
            background-color: rgba(230, 230, 230, 0.8);
        }
        @include max($lg) {
            max-width: 50%;
            padding: 20px 0;
            margin-bottom: 7px;
        }
        @include max($s) {
            max-width: 100%;
            padding: 10px 0;
        }
    }
    &__name {
        display: block;
        margin-bottom: 65px;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($lg) {
            margin-bottom: 15px;
        }
        @include max($md) {
            margin-bottom: 0;
        }
    }
    &__block {
        margin-top: auto;
    }
    &__items {
        padding: 15px 0;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:not(:last-child) {
            border-bottom: 1px solid $gray100;
        }
        @include max($lg) {
            padding: 10px 0;
        }
    }
}
