<section class="about">
    <div class="container">
        <h2 class="title about__title">
            Лучшие решения, актуальный дизайн, непревзойденное качество — все это о нашей студии
        </h2>
        <div class="about__inner">
            <ul class="about-slider">
                <li class="about-slider__items">
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-1.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-2.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                    </div>
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-3.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-4.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                    </div>    
                </li>
                <li class="about-slider__items">
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-1.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-2.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                    </div>
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-3.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-4.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                    </div>    
                </li>
                <li class="about-slider__items">
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-1.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-2.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                    </div>
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-3.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-4.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                    </div>    
                </li>
                <li class="about-slider__items">
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-1.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-2.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                    </div>
                    <div class="about-slider__item">
                        <img class="about-slider__images" src="images/about-slider-3.jpg" width="259" height="407" alt="Картинка нашего интерьра">
                        <img class="about-slider__images" src="images/about-slider-4.jpg" width="259" height="201" alt="Картинка нашего интерьра">
                    </div>    
                </li>
            </ul>
            <div class="about__content">
                <div class="about__text">
                    <p>
                        С 2011 года было нами было разработано уже множество успешных проектов. Мы проектируем подробные проекты дизайна интерьеров помещений любой сложности и не боимся сложных задач.
                        Дизайн-проект может включать в себя перепланировку, рабочие чертежи, 3D-визуализацию, а также дополнителнительные услуги: авторский надзор, подбор материалов, смету и другое на Ваше личное усмотрение. 
                        
                    </p>
                    <p>
                        Мы работаем с помещениями любого типа и назначения: квартиры, коттедж, загородный дом, кафе или ресторан, офис, гостиница или бизнес-центр, бутик и многое другое.

                    </p>
                    <p>
                        Мы не упустим ни один квадратный сантиметр, учтем все Ваши пожелания, добавим свои свежие идеи, познакомим с секретами интерьерных решений, скоординируем в ремонте и поможем создать в Вашем помещении утонченную роскошь!
                    </p>
                </div>
                <ul class="about__statistics">
                    <li class="about__box">
                        <span class="about__vertical-text">более</span>
                        <span class="about__number">10</span>
                        <span class="about__description about__description--year ">лет на рынке</span>
                    </li>
                    <li class="about__box">
                        <span class="about__vertical-text">более</span>
                        <span class="about__number">200</span>
                        <span class="about__description about__description--project ">успешных проектов</span>
                    </li>
                    <li class="about__box">
                        <span class="about__vertical-text">более</span>
                        <span class="about__number">300</span>
                        <span class="about__description about__description--feedback">положительных отзывов</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>