<section class="advice">
    <div class="container">
        <h2 class="title">Полезные советы  от нас</h2>

        <div class="advice__list">
            <div class="advice__heading advice__heading--active">
                <span class="advice__name">
                    На что стоит обратить внимание при выборе дизайнеров?
                </span>
                <svg class="advice__icon">
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
                <span class="visually-hidden">
                    при клике на заголовок и иконку стрелка будет открываться описание
                </span>
            </div>
            <div class="advice__text advice__text--active">
                <p>
                    Выбор стиля дизайна интерьера не должен зависеть от тренда или мнения окружающих. Если раньше, каких-то 5-10 лет назад все в основном применяли классику, то сегодня, зайдя в помещение, сделанное в этом стиле, может показаться, что ремонт в нем не производился уже давно, или у владельца нет вкуса. Однако, это может быть  не так. И в настоящее время классический интерьер вполне применим, если его "разбавить" современными акцентами, применить новые технологии.
                </p>
                <p>
                    Мы работаем со всеми стилями: неоклассика, ар-деко, современный стиль дизайна, минимализм, лофт, модерн, классика, хай-тек, скандинавский стиль, этнический стиль и многое другое. Мы можем создать гармоничное пространство, применяя эклектику (смешение стилей), при этом результат никогда не будет вычурным или вульгарным. Все наши работы создаются по подробно составленному Техниескому Заданию, в котором оговорены все требуемые нашими клиентами условиями.
                </p>
            </div>
        </div>

        <div class="advice__list">
            <div class="advice__heading">
                <span class="advice__name">
                    Как долго разрабатывается авторский дизайн интерьера?
                </span>
                <svg class="advice__icon">
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
                <span class="visually-hidden">
                    при клике на заголовок и иконку стрелка будет открываться описание
                </span>
            </div>
            <div class="advice__text">
                <p>
                    Выбор стиля дизайна интерьера не должен зависеть от тренда или мнения окружающих. Если раньше, каких-то 5-10 лет назад все в основном применяли классику, то сегодня, зайдя в помещение, сделанное в этом стиле, может показаться, что ремонт в нем не производился уже давно, или у владельца нет вкуса. Однако, это может быть  не так. И в настоящее время классический интерьер вполне применим, если его "разбавить" современными акцентами, применить новые технологии.
                </p>
                <p>
                    Мы работаем со всеми стилями: неоклассика, ар-деко, современный стиль дизайна, минимализм, лофт, модерн, классика, хай-тек, скандинавский стиль, этнический стиль и многое другое. Мы можем создать гармоничное пространство, применяя эклектику (смешение стилей), при этом результат никогда не будет вычурным или вульгарным. Все наши работы создаются по подробно составленному Техниескому Заданию, в котором оговорены все требуемые нашими клиентами условиями.
                </p>
            </div>
        </div>

        <div class="advice__list">
            <div class="advice__heading">
                <span class="advice__name">
                    Какой выбрать стиль интерьера?
                </span>
                <svg class="advice__icon">
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
                <span class="visually-hidden">
                    при клике на заголовок и иконку стрелка будет открываться описание
                </span>
            </div>
            <div class="advice__text">
                <p>
                    Выбор стиля дизайна интерьера не должен зависеть от тренда или мнения окружающих. Если раньше, каких-то 5-10 лет назад все в основном применяли классику, то сегодня, зайдя в помещение, сделанное в этом стиле, может показаться, что ремонт в нем не производился уже давно, или у владельца нет вкуса. Однако, это может быть  не так. И в настоящее время классический интерьер вполне применим, если его "разбавить" современными акцентами, применить новые технологии.
                </p>
                <p>
                    Мы работаем со всеми стилями: неоклассика, ар-деко, современный стиль дизайна, минимализм, лофт, модерн, классика, хай-тек, скандинавский стиль, этнический стиль и многое другое. Мы можем создать гармоничное пространство, применяя эклектику (смешение стилей), при этом результат никогда не будет вычурным или вульгарным. Все наши работы создаются по подробно составленному Техниескому Заданию, в котором оговорены все требуемые нашими клиентами условиями.
                </p>
            </div>
        </div>

        <div class="advice__list">
            <div class="advice__heading">
                <span class="advice__name">
                    Что отличает наши интерьеры?
                </span>
                <svg class="advice__icon">
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
                <span class="visually-hidden">
                    при клике на заголовок и иконку стрелка будет открываться описание
                </span>
            </div>
            <div class="advice__text">
                <p>
                    Выбор стиля дизайна интерьера не должен зависеть от тренда или мнения окружающих. Если раньше, каких-то 5-10 лет назад все в основном применяли классику, то сегодня, зайдя в помещение, сделанное в этом стиле, может показаться, что ремонт в нем не производился уже давно, или у владельца нет вкуса. Однако, это может быть  не так. И в настоящее время классический интерьер вполне применим, если его "разбавить" современными акцентами, применить новые технологии.
                </p>
                <p>
                    Мы работаем со всеми стилями: неоклассика, ар-деко, современный стиль дизайна, минимализм, лофт, модерн, классика, хай-тек, скандинавский стиль, этнический стиль и многое другое. Мы можем создать гармоничное пространство, применяя эклектику (смешение стилей), при этом результат никогда не будет вычурным или вульгарным. Все наши работы создаются по подробно составленному Техниескому Заданию, в котором оговорены все требуемые нашими клиентами условиями.
                </p>
            </div>
        </div>


    </div>
</section>