<section class="contacts" id="contacts">
    <h2 class="visually-hidden">Основные Контакты для связи с нами</h2>
    <div class="container">
        <div class="contacts__inner">
            <address class="contacts__address">
                <div class="contacts__items">
                    <span class="contacts__heading">Наш телефон</span>
                    <a class="contacts__link contacts__tel" href="tel:+87003000340">8 (700) 300-03-40</a>
                    <a class="contacts__link contacts__tel" href="tel:+87788000340">8 (778) 800-03-40</a>
                </div>
                <div class="contacts__items">
                    <span class="contacts__heading">Наш адрес</span>
                    <a class="contacts__link contacts__location" href="#">Республика Казахстан,010000, г. Нур-Султан, ул. Достык 13</a>
                </div>
                <div class="contacts__items">
                    <span class="contacts__heading">Присоединяйтесь</span>
                    <ul class="social contacts__social">
                        <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="2s">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use xlink:href="images/sprite.svg#insta"></use>
                                </svg>
                                <span class="visually-hidden">
                                    значок Instagram, при клике на него, вы будете перенаправлены в нашу учетную запись Instagram
                                </span>
                            </a>
                        </li>
                        <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="2.5s">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use xlink:href="images/sprite.svg#vk"></use>
                                </svg>
                                <span class="visually-hidden">
                                    значок vkontakte, при клике на него, вы будете перенаправлены в нашу учетную запись vkontakte
                                </span>
                            </a>
                        </li>
                        <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="3s">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                                <span class="visually-hidden">
                                    значок facebook, при клике на него, вы будете перенаправлены в нашу учетную запись facebook
                                </span>
                            </a>
                        </li>
                        <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="3.5s">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use xlink:href="images/sprite.svg#pinterest"></use>
                                </svg>
                                <span class="visually-hidden">
                                    значок pinterest, при клике на него, вы будете перенаправлены в нашу учетную запись pinterest
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__items">
                    <span class="contacts__heading">Написать на почту</span>
                    <a class="contacts__link contacts__email" href="mailto:dh.studio.kz@gmail.com">dh.studio.kz@gmail.com</a>
                </div>
            </address>
            <div id="map">
                <span class="visually-hidden">
                    Карта, на которой указанно место нашего офиса
                </span>
            </div>
        </div>
    </div>
</section>

