<div class="feedback">
    <div class="container">
        <div class="feedback__inner">
            <div class="feedback__images" style="background-image: url(images/feedback-bg.jpg);">
                <span class="visually-hidden">
                    Фотография интерьера нашего проекта 
                </span>
            </div>
            <div class="feedback__info">
                <div class="feedback__text">
                    <p>
                        Всех наших клиентов объединяет то, что они думают о будущем, идут впереди тенденций и предпочитают работать с лучшим!
                    </p>
                </div>
                <form class="feedback__form" action="#">
                    <label class="visually-hidden" for="tel">
                        текстовое поле, напишите свой номер телефона и мы с вами свяжимся
                    </label>
                    <input class="feedback__input" type="tel" name="телефон" id="tel" placeholder="+ 7 (___) ___ - __ - __">
                    <button class="feedback__btn" type="submit">Отправить запрос</button>
                </form>
            </div>
        </div>
    </div>
</div>