<section class="gallery" id="gallery">
    <div class="container">
        <h2 class="title gallery__title wow animate__backInLeft" data-wow-duration="2s" data-wow-offset="50">Галлерея проекта</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
            <li class="gallery__item">
                <img class="gallery__images" src="images/gallery-1.jpg" alt="Интерьер комнаты">
                <a class="gallery__icon" href="images/gallery-1.jpg" data-fancybox="images" data-width="1000" data-height="700">
                    <svg class="gallery__search">
                        <use xlink:href="images/sprite.svg#search-plus"></use>
                    </svg>
                    <span class="visually-hidden">
                        иконка поиска, при клике на иконку откроется галлерея фотографий проекта
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>

