<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">
                <img class="logo__images" src="images/logo.png" alt="Images logo" width="42" height="42">
                <div class="logo__text">
                    Deluxe house
                    <p>design studio</p>
                </div>
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Ремонт</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Портфолио</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Статьи</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a class="header__link" href="tel:+87003000340">
                <svg class="header__phone">
                    <use xlink:href="images/sprite.svg#tel"></use>
                </svg>
                8 (700) 300-03-40
            </a>
        </div>
    </div>
</header>