<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#body">
                <img class="logo__images" src="images/logo.png" alt="Images logo" width="42" height="42">
                <img class="logo__text" src="images/logo-text.png" alt="Images logo" width="141" height="34">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#service">Проекты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#repair">Ремонт</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#gallery">Портфолио</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#about">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a class="header__link animate__animated animate__infinite animate__pulse animate__slower" href="tel:+87003000340">
                <svg class="header__phone ">
                    <use xlink:href="images/sprite.svg#tel"></use>
                </svg>
                <span class="visually-hidden">
                    значок телефона, нажав на который вы можете связаться с нами
                </span>
                8 (700) 300-03-40
            </a>
        </div>
    </div>
</header>