<section class="home-page" style="background-image: url(images/home-page-bg.jpg);">
    <div class="home-page__social">
            <p class="home-page__text">
                Студия дизайна интерьера
            </p>
            <ul class="social social--line">
                <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="2s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#insta"></use>
                        </svg>
                        <span class="visually-hidden">
                            значок Instagram, при клике на него, вы будете перенаправлены в нашу учетную запись Instagram
                        </span>
                    </a>
                </li>
                <li class="social__item wow animate__fadeInLeft"  data-wow-duration="1s" data-wow-delay="2.5s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg>
                        <span class="visually-hidden">
                            значок vkontakte, при клике на него, вы будете перенаправлены в нашу учетную запись vkontakte
                        </span>
                    </a>
                </li>
                <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="3s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                        <span class="visually-hidden">
                            значок facebook, при клике на него, вы будете перенаправлены в нашу учетную запись facebook
                        </span>
                    </a>
                </li>
                <li class="social__item wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="3.5s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#pinterest"></use>
                        </svg>
                        <span class="visually-hidden">
                            значок pinterest, при клике на него, вы будете перенаправлены в нашу учетную запись pinterest
                        </span>
                    </a>
                </li>
            </ul>
    </div>
    <div class="home-page__inner">
        <h1 class="home-page__title">Роскошный дизайн интерьера в Нур-Султане</h1>
        <span class="home-page__subtitle">
            Мы создаем уникальные проекты любой сложности на высоком уровне качества!
        </span>
        <a class="home-page__link" href="#">Расчет стоимости</a>
    </div>
    <span class="home-page__decor-text">Interior design</span>
</section>