<section class="home-page">
    <div class="home-page__social">
        <p class="home-page__text">
            Студия дизайна интерьера
        </p>
        <ul class="social social--line">
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon">
                        <use xlink:href="images/sprite.svg#insta"></use>
                    </svg>
                    <span class="visually-hidden">
                        the instagram instagram icon, when you click on it, you will be redirected to our instagram account
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon">
                        <use xlink:href="images/sprite.svg#vk"></use>
                    </svg>
                    <span class="visually-hidden">
                        the vkontakte icon, when you click on it, you will go to our account in vkontakte for free
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon">
                        <use xlink:href="images/sprite.svg#facebook"></use>
                    </svg>
                    <span class="visually-hidden">
                        the facebook icon, when you click on it, you will be redirected to our facebook account
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon">
                        <use xlink:href="images/sprite.svg#pinterest"></use>
                    </svg>
                    <span class="visually-hidden">
                        pinterest icon, when you click on it, you will be redirected to our pinterest account
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="home-page__content" style="background-image: url(images/home-page-bg.jpg);">
        <div class="home-page__inner">
            <h1 class="home-page__title">Роскошный дизайн интерьера в Нур-Султане</h1>
            <span class="home-page__subtitle">
                Мы создаем уникальные проекты любой сложности на высоком уровне качества!
            </span>
            <a class="home-page__link" href="#">Расчет стоимости</a>
        </div>
    </div>
</section>