<section class="keynote">
    <h2 class="visually-hidden">Наша главная цель</h2>
    <div class="container">
        <div class="keynote__inner">
            <h3 class="keynote__subtitle">
                Мы всегда <mark>стремимся</mark> к <mark>совершенству</mark> во всех деталях!
            </h3>
            <div class="keynote__text">
                <p>
                    Мы <mark>находимся</mark> в Астане (Нур-Султане), но работаем во всех городах <mark>Казахстана</mark> как удаленно, так и с выездом на замер и авторский надзор.

                </p>
                <p>
                    Нами уже были <mark>реализованы проекты</mark> в г. Актау, Алматы, Павлодар, Шымкент, Жезказган, Караганды, Актобе, Тараз, Атырау и Петропавловск.
                </p>
                <p>
                    Среди которых <mark>не только жилые дома</mark> и квартиры, но коммерческие помещения: рестораны, кафе, лаунж-бары, сауна и SPA, гостиницы и другое.
                </p>
            </div>
        </div>
    </div>
    <div class="keynote__bg" style="background-image: url(images/keynote-bg.png);">
        <span class="visually-hidden">
            Большое фоновое изображение в виде развёрнутой книги
        </span>
    </div>
</section>




