<section class="projects">
    <div class="container">
        <h2 class="title projects__title">Наши проекты</h2>
        <ul class="projects__buttons">
            <li class="projects__item">
                <button class="projects__btn" type="button" data-filter="all">Все</button>
            </li>
            <li class="projects__item">
                <button class="projects__btn" type="button" data-filter=".living-rooms">Гостиные</button>
            </li>
            <li class="projects__item">
                <button class="projects__btn" type="button" data-filter=".bedrooms">Спальни</button>
            </li>
            <li class="projects__item">
                <button class="projects__btn" type="button" data-filter=".bathrooms">Ванные комнаты</button>
            </li>
        </ul>

        <ul class="projects__inner">
            <li class="projects__items mix all living-rooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-1.jpg" alt="Гостиная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
            <li class="projects__items  mix all living-rooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-2.jpg" alt="Гостиная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
            <li class="projects__items mix all bedrooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-3.jpg" alt="Спальная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
            <li class="projects__items mix all bedrooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-4.jpg" alt="Спальная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
            <li class="projects__items mix all bathrooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-5.jpg" alt="Ванная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
            <li class="projects__items mix all bathrooms">
                <a class="projects__link" href="#">
                    <div class="projects__photo">
                        <img class="projects__images" src="images/projects-6.jpg" alt="Ванная комната">
                    </div>
                    <div class="projects__info">
                        <h3 class="projects__subtitle">Дом для двух поколений</h3>
                        <p class="projects__description">Уютная студия в ЖК Адмирал</p>
                    </div> 
                </a>
            </li>
        </ul>
    </div>
</section>