<section class="work">
    <div class="container">
        <h2 class="title work__title">Ремонт квартир любой сложности</h2>
        <ul class="work-slider">
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
            <li class="work-slider__item" style="background-image: url(images/work-slider-1.jpg);">
                <p class="work-slider__description">
                    Мы предоставляем гарантию <span class="work-slider__year">1 год</span> на свои услуги, - гарантийное, а также постгарантийное обслуживание.
                </p>
            </li>
        </ul>
    </div>
</section>
<!-- visually-hidden -->